:root {
  --primary: #8B4513;
  --bg: #3c2a21;
  --font: #ffff;
  --fontsecond:#231d18;
  --span: #9f8a46;
  --emas: #FFD700;
  --white:#f9f4ea;
  --tombol:#383838;
  --silver:#B0B0B0;
  --darkgray:#2C2C2C;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  background-color: var(--bg);
  color: var(--font);
}
span {
  color: transparen;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 4%;
  background-color: rgba(1, 1, 1, 0.8);
  backdrop-filter: blur(1rem);
  position: fixed;
  z-index: 1000;
}

.navbar .navbar-logo {
  margin: 0;
  padding: 0;
  width: 5rem;
  height: 2.6rem;
  position: relative;
}

.navbar .navbar-logo img {
  height: 100%;
  width: 100%;
}

.navbar ul {
  list-style: none;
}

.navbar-nav ul li {
  display: inline-block;
  position: relative;
  margin-right: 1rem;
}

.navbar .navbar-nav li {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.5rem 1rem 0.1rem;
  font-family: "Montserrat";
  font-weight: 510;
}

ul li ul.dropdown li {
  display: block;
}

.dropdown-container {
  display: inline-block;
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;   
  list-style: none;
  margin-top: 0.9rem;
  min-width: 150px;
  z-index: 100;
  opacity: 0;
  background-color: rgba(1, 1, 1, 0.8);
  transition: opacity 0.3s ease-in-out;
}

.dropdown.active {
  display: block;
  opacity: 1;
}

.dropdown-toggle {
  display: inline-flex;
  align-items: center;
  padding: 10px 0px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 0;
}

.dropdown li {
  padding: 20px 20px;
  margin: 0 !important;
}

.dropdown li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem; 
  margin: 0;
}

.navbar ul li:hover #dropdown-logo {
  transform: rotate(180deg);
}

.navbar .navbar-nav a {
  color: white;
}

.navbar .navbar-nav a:hover {
  color: var(--emas);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--emas);
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.8);
  transition: 0.2s linear;
}

.navbar .navbar-icon a {
  color: #ffff;
  margin: 0 0.5 rem;
}

.navbar .navbar-icon a:hover {
  color: var(--font);
  transition: 0.3s ease-in-out;
}

.hero {
  min-height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(Image/n-kamalov-WackSEiqyys-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero .content {
  width: 1180px;
  height: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.hero h1 {
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  line-height: 90px;
}

.hero p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: var(--font);
}
.hero .tombol {
  display: flex;
  justify-content: center;
  gap: 1.125rem;
}
.hero .content .cta {
  padding: 0.85rem 4.3rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--fontsecond);
  background-color: var(--emas);
  border-radius: 0.5rem;
}

.hero .content .cta2 {
  padding: 0.8rem 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--emas);
  border:var(--emas) solid 1px;
  border-radius: 0.5rem;
}

.benefit {
  width: 100%;
  height: fit-content;
  background-color: white;
  color: var(--darkgray);
}

.benefit .header {
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: end;
}

.benefit .header h1 {
  width: 45rem;
  padding-bottom: 0.5rem;
  border-bottom: var(--silver) 2px solid;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  color: var(--darkgray);
}

.benefit .benefit-container {
  margin: auto;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.benefit-a {
  display: flex;
  width: 22rem;
  height: 43rem;
  border-radius: 1rem;
  flex-direction: column;
  margin: 35px 20px;
}
.benefit-a .gambar1 {
  width: 22rem;
  height: 28rem;
  background-color: white;
  background: url(Image/music-instrument-store.jpg);
  background-size: cover;
  border-radius: 0.5rem;
}

.benefit-a h1 {
  color: var(--darkgray);
  padding-left: 0.3rem;
  padding-top: 0.7rem;
  font-size: 1.5rem;
}

.benefit-a p {
  color: #757575;
  padding-left: 0.3rem;
  padding-top: 0.7rem;
  font-size: 1.2rem;
  max-width: 22rem;
  height: 12rem;
}

.benefit-b {
  display: flex;
  width: 22rem;
  height: 43rem;
  border-radius: 1rem;
  flex-direction: column;
  margin: 35px 20px;
}
.benefit-b .gambar2 {
  width: 22rem;
  height: 28rem;
  background-color: white;
  background: url(Image/artisan-doing-woodcutting.jpg);
  background-size: cover;
  background-position: 60%;
  border-radius: 0.5rem;
}

.benefit-b h1 {
  color: var(--darkgray);
  padding-left: 0.3rem;
  padding-top: 0.7rem;
  font-size: 1.5rem;
}

.benefit-b p {
  color: #757575;
  padding-left: 0.3rem;
  padding-top: 0.7rem;
  font-size: 1.2rem;
  max-width: 22rem;
  height: 12rem;
}

.benefit-c {
  display: flex;
  width: 22rem;
  height: 43rem;
  border-radius: 1rem;
  flex-direction: column;
  margin: 35px 20px;
}
.benefit-c .gambar3 {
  width: 22rem;
  height: 28rem;
  background-color: white;
  background: url(Image/3473858a4d7c5acd34a68df760e4dbe5.jpg);
  background-size: cover;
  border-radius: 0.5rem;
}

.benefit-c h1 {
  color: var(--darkgray);
  padding-left: 0.3rem;
  padding-top: 0.7rem;
  font-size: 1.5rem;
}

.benefit-c p {
  color: #757575;
  padding-left: 0.3rem;
  padding-top: 0.7rem;
  font-size: 1.2rem;
  max-width: 22rem;
  height: 12rem;
}

.testimoni {
  background-color: var(--darkgray);
  padding: 50px 0;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.testimoni h2 {
  font-size: 36px;
  margin-bottom: 50px;
  
}

.testimoni-item {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.testimoni-item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 20px;
}

.testimoni-item .nama {
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.testimoni-item .rating {
  color: #ffc107;
  font-size: 18px;
  margin-bottom: 10px;
}

.testimoni-item .testimoni-text {
  font-size: 16px;
  line-height: 1.5;
  color: black;
}

.contact-section {
  width: 100%;
  min-height: 800px;
  background:url(/Image/photorealistic-electric-guitar-still-life.jpg) fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  height: 35rem;
  width: 75rem;
  display:inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: white;
  align-items: center;
  gap: 4rem;
  backdrop-filter: blur(1px);
  border-radius: 8px;
}

.location {
  width: 40%;
  height: 100%;
  
}

.location iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px 0 0 8px;
}
.contact {
  height: 100%;
  padding: 1.5rem 0;
  
}

.contact h1 {
  color: var(--darkgray);
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.contact form {
  width: 35rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}

.contact form #small {
  height: 2.8rem;
  width: 80%;
  border: 1px solid var(--silver);
  border-radius: 8px ;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.contact form #big {
  height: 7rem;
  width: 80%;
  border: 1px solid var(--silver);
  border-radius: 8px ;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.contact form #submit {
  width: 9rem;
  background-color: var(--emas);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px ;
  font-size: 1rem;
  padding:.8rem;
}


#hamburger-menu {
  display: none;
}

#dropdown-logo {
  transition: transform 0.3s ease;
}

/* Medium */
@media (min-width: 1200px) {
  html {
    font-size: 93%;
  }
}

@media (max-width: 1199px) {
  html {
    font-size: 88%;
  }

  .contact-container {
    flex-direction: column;
    height: auto;
    width: 90%;
    gap: 2rem;
  }

  .location {
    width: 100%;
    height: 15rem; 
  }

  .location iframe {
    border-radius: 8px 8px 0 0;
  }

  .contact {
    width: 100%;
    padding: 1.5rem;
  }

  .contact form {
    width: 100%;
    align-items: center;
  }

  .contact h1{
    text-align: center;
  }

  .contact form #small, 
  .contact form #big {
    width: 90%;
  }

  .contact form #submit {
    width: 50%;
    text-align: center;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 83%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(1, 1, 1, 0.8);
    backdrop-filter: blur(100rem);
    width: 35vh;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav li {
    color: #ffff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.25);
  }

  .dropdown {
    position: relative;
    display: none; 
    list-style: none;
    padding: 0.5rem 0.5rem;
    margin-top: 0.7rem;
    min-width: 150px;
    opacity: 0;
    background-color: transparent !important;
    transition: opacity 0.3s ease, visibility 1s ease;
  }

  .contact-container {
    flex-direction: column;
    height: auto;
    width: 85%;
    gap: 2rem;
  }

  .location {
    width: 100%;
    height: 15rem; 
  }

  .location iframe {
    border-radius: 8px 8px 0 0;
  }

  .contact {
    width: 100%;
    padding: 1.5rem;
  }

  .contact form {
    width: 100%;
    align-items: center;
  }

  .contact h1{
    text-align: center;
  }

  .contact form #small, 
  .contact form #big {
    width: 80%;
  }

  .contact form #submit {
    width: 40%;
    text-align: center;
  }

}

/* Mobile Phone */
@media (max-width: 576px) {
  html {
    font-size: 78%;
  }

  .contact-container {
    flex-direction: column;
    height: auto;
    width: 90%;
    gap: 2rem;
  }

  .location {
    width: 100%;
    height: 15rem; 
  }

  .location iframe {
    border-radius: 8px 8px 0 0;
  }

  .contact {
    width: 100%;
    padding: 1.5rem;
  }

  .contact form {
    width: 100%;
    align-items: center;
  }

  .contact h1{
    text-align: center;
  }

  .contact form #small, 
  .contact form #big {
    width: 75%;
  }

  .contact form #submit {
    width: 35%;
    text-align: center;
  }
}
